@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}
.body_active{
    overflow: hidden;
}
.modal{
    position: fixed;
    top: -400px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0px 0px 35px rgba(212, 20, 90, 0.25);
    border-radius: 15px;
    transition: 1s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    opacity: 0;
}
.modal__form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal__input{
    width: 300px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 16px;
    margin: 20px 0px;
}
.modal__send{
    padding: 15px 40px;
    background: linear-gradient(96.12deg, #D4145A -21.03%, #3D5BF5 103.56%);
    border: none;
    border-radius: 5px;
    color: #fff;
}
.modal__input3{
    width: 300px;
    height: 200px;
}
.modal__active{
    top: 50%;
    opacity: 1;
}
.modal__cross{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    transform: rotate(45deg);
    border: none;
    background-color: red;
    color: #fff;
}
.modal__cross img{
    width: 80%;
    height: 80%;
}
.container{
    margin: 0 auto;
    max-width: 1440px;
    padding: 0% 5%;
}
body{
    font-family: "Roboto";
}
header{
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
}
.inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    color: #fff;
}
.header__number, .header__location, .header__social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__number img, .header__location img, .header__social img{
    margin-right: 10px;
}
.header__number--title{
    margin-right: 10px;
}
.inner-hero{
    padding: 30px 0px;
}
.site-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__item{
    margin: 0px 20px;
}
.hero__link{
    color: #737373;
}
.hero__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.hero__center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero__title{
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
}
.hero__center--left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 2;
}
.hero__center--right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.hero__text{
    font-size: 24px;
    margin: 30px 0px;
}
.hero__button{
    padding: 15px 25px;
    border: none;
    font-weight: 900;
    border-radius: 7px;
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    color: #fff;
}
.hero__image{
    width: 90%;
    height: 90%;
}
.inner-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
}
.about__title{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards{
    width: 300px;
    box-shadow: 2px 2px 2px 2px lightgray;
    margin: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 7px;
}
.card__image{
    width: 100%;
    height: 50%;
}
.card__title{
    margin: 10px;
}
.card__text{
    margin: 10px;
}
.comments{
    background: linear-gradient(94.31deg, rgba(212,20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);
}
.inner-comments{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
.comment{
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 200px;
    background-color: #fff;
    margin: 0px 10px;
    border-radius: 10px;
    box-shadow: 5px 0px 2px 5px lightgray;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
.comment__writer{
    color: grey;
}
.comment__text{
    margin: 10px 0px;
}
.comment__cardbox{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.comment__previous, .comment__next{
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.comment__next{
    right: -5%;
    border-radius: 0px 3px 3px 0px;
}
.comment__previous{
    left: -5%;
    border-radius: 3px 0px 0px 3px;
}
.active{
    background-color: #717171;
}
.comment__icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.inner-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0px;
}
.footer__table{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.footer__title{
    margin-bottom: 20px;
}
@media only screen and (max-width: 400px){
    .hero__list{
        flex-direction: column;
    }
    .hero__item{
        margin: 10px 0px;
    }
}
@media only screen and (max-width: 460px){
    .header__number{
        flex-direction: column;
    }
    .header__number--title{
        margin-right: 0px;
        margin: 10px 0px;
    }
}
@media only screen and (max-width: 500px){
    #hero__title{
        font-size: 32px;
    }
    .about__title{
        font-size: 32px;
        text-align: center;
    }
    .footer__title{
        font-size: 20px;
    }
    .modal__input{
        width: 200px;
        height: 30px;
    }
    .modal__send{
        padding: 10px 30px;
    }
    .modal__input3{
        width: 200px;
        height: 50px;
        margin-bottom: 100px;
    }
    .modal__title{
        font-size: 20px;
    }
    .modal__cross{
        width: 20px;
        height: 20px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 650px){
    .hero__top{
        flex-direction: column;
    }
    .site-logo{
        margin-bottom: 30px;
    }
    .site-logo__image{
        height: 30%;
        width: 30%;
    }
    .hero__center{
        flex-direction: column;
    }
    .hero__center--right{
        display: none;
    }
    .hero__center--left{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
@media only screen and (max-width: 700px){
    .comment{
        width: 80%;
        height: 300px;
    }
}
@media only screen and (max-width: 850px){
    .inner-header{
        flex-direction: column;
    }
    .header__location{
        margin: 10px 0px;
    }
    .hero__title{
        font-size: 40px;
        line-height: 40px;
    }
    .hero__image{
        width: 120%;
        height: 120%;
    }
}
@media only screen and (max-width: 1050px){
    .about__cards{
        flex-direction: column;
    }
    .cards{
        margin: 30px 0px;
        width: 100%;
        height: 100%;
    }
    .card__image{
        height: 75%;
    }
    .inner-footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__table{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer__table{
        margin: 30px 0px;
    }
}